---
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogLayout from '../layouts/BlogLayout.astro'
const PageTitle = "My Astro Learning Blog"

---
<BaseLayout PageTitle={PageTitle}>
  <div class="flex-grow bg-gray-900 text-white flex flex-col items-center">
    <h1 class="text-4xl font-bold">My <span class="text-[#10b981">Astro</span> Learning Blog</h1>
    <p class="py-5 font-light">This is where i will post my Astro Journey</p>
    <div class="w-2/3 flex flex-wrap gap-10 justify-center py-5">
      <BlogLayout></BlogLayout>
    </div>
  </div>
</BaseLayout>