---
import BaseLayout from '../layouts/BaseLayout.astro'
const PageTitle = "Blog"
import '../styles/global.css'
---
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
    <BaseLayout PageTitle={PageTitle}>
    <ul>
      <li><a href="/posts/post-1/">Post 1</a></li>
      <li><a href="/posts/post-2/">Post 2</a></li>
      <li><a href="/posts/post-3/">Post 3</a></li>
    </ul>
    </BaseLayout>
  </body>
</html>