---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greetings';
const PageTitle = "Home Page";
---
<BaseLayout PageTitle={PageTitle}>
	<div class="dark:bg-gray-900 bg-gray-100 flex-grow text-gray-800 dark:text-white flex flex-col items-center text-center">
		<div>
			<h2 class="text-3xl"><span class="text-[#10b981] text-3xl">Astro</span> Journey</h2>
			<Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
		</div>
	</div>
</BaseLayout>
